.payment-card-content {
    max-width: 450px;
}

.payment-card-main {
    margin-top: 20px;
}

.payment-amount {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 5em;
}

.payment-success {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: green
}

.payment-code {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: red;
}