
.review {
    background-color: rgba(83, 77, 77, 0.158);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    flex: 1 1;
    display: inline-block;
    width: 30%;
    height: auto;
    color: rgb(0, 0, 0);
    clear: both;
    margin-top: 5%;
    margin-left: 6%;
    transition: box-shadow .3s;
}
.review:hover {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.884); 
  }

.review_header {
    display: flex;
    margin-bottom: 10px;
}

.review_body {
    margin-left: 12px;
    color: gray;
    overflow-wrap: anywhere;
}

.review_info {
    margin-left: 10px;
}

.review_info > p {
    font-size: 12px;
    color: black;
}
.review_info > h2 {
    font-size: 15px;
}

.review_icons {
    display: flex;
    padding: 0 10px;
}

.chat {
    margin-left: 3%;
}

.share {
    margin-left: 3%;
}

.send {
    margin-left: 3%;
}

.search-body {
    flex: 1;
    display: flex;
    margin-top: 1%;
    flex-direction: column;
  }
  .search_input {
    display: flex;
      align-items: center;
      height: 50px;
      border: 1px solid lightgray;
      border-radius: 999px;
      width: 75vw;
      padding: 10px 20px;
      margin: 0 auto;
      margin-top: 40px;
      max-width: 560px;
      float: left;
      
  }
  
  
  .search_input > input {
    flex: 1;
    padding: 0 5px;
    border: none !important;
    background: transparent;
    font-size: 15px;
  }
  .search_input > input:focus {
    outline-width: 0;
  }

@media screen and (max-width:960px)
{
    .review {
        width: 100%;
        float: left;
        margin-left: 0vh;
    }
}