.review {
    display: inline-block;
    height: auto;
    clear: both;
    transition: box-shadow .5s;
}

.review:hover {
    box-shadow: 0 2px 18px rgba(211, 114, 17, 0.5);
}

.review-list {
    margin-top: 15px;
}

.profile-pic {
    margin-right: 10px;
}

.review_header {
    display: flex;
    margin-bottom: 10px;
}

.review_body {
    color: black;
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
}

.review-subtitle {
    color: grey;
    font-size: 10px;
}

.review_info {
    margin-left: 10px;
}

.review_info>p {
    font-size: 12px;
    color: black;
}

.review_info>h2 {
    font-size: 15px;
}

.review_icons {
    display: flex;
    justify-content: space-between;
}

.chat {
    margin-right: 5px;
}

.share {
    margin-right: 5px;
}

.like {
    margin-right: 5px;
}

.search-body {
    display: flex;
    flex-direction: column;
}

.search_input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 999px;
    width: 75vw;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 60%;
    float: left;
}


.search_input>input {
    flex: 1;
    padding: 0 5px;
    border: none !important;
    background: transparent;
    font-size: 15px;
}

.search_input>input:focus {
    outline-width: 0;
}