@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
 .bgcr{
    height: 100vh;
    background-color: #ffffff;
  }
  
  

    
    .arrow {
        text-align: center;
        clear: both;
        width: 100%;
        color: #000000;
    }
    .next-btn{
        width: 67px;
        height: 67px;
        display: inline-block;
        
        font-size: 32px;
        line-height: 63px;
        color: #ffffff;
    }
    @keyframes arrow {
      from {
        margin-top: -950px;
      }
      to {
        margin-top: 0px;
      }
    }
    .arrow-right{
        color: #ffffff;
        
      }

      .arrow-right {
        fill: currentColor !important;
        width: 1em !important;
        height: 2em !important;
        display: inline-block !important;
        /* font-size: 1.5rem; */
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
        flex-shrink: 0 !important;
        -webkit-user-select: none !important;
        user-select: none !important;
        margin-top: -10%;
    }
    

.go-to {
  background:   #f0ad4e;
}

.go-to-link{
  font-size: 18px;
}

.go-to-link:link{
  color: black;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.heading-1 {
  position: relative;
  animation-name:slogan;
  animation-duration: 1.5s;
  color: #000000;
  font-size: 60px;
  font-family: 'IBM Plex Sans', sans-serif;
}

@keyframes slogan {
  from {
    margin-top: -950px;
  }
  to {
    margin-top: 0px;
  }
}

.heading-2 {
  font-family: 'IBM Plex Sans', sans-serif;
}

.logo {
  height: auto;
  width: 80vh;
  animation-name: logo;
  animation-duration: 1.5s;
}


@keyframes logo {
  from {
    margin-top: 90vw;
  }
  to {
    margin-top: 0vw;
  }
}

.slogan {
  position: relative;
  animation-name:slogan;
  animation-duration: 1.5s;
  color: #000000;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 80px;
  
}
@keyframes slogan {
  from {
    margin-top: -950px;
  }
  to {
    margin-top: 0px;
  }
}
