@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Landing Page */
.landing {
    color: #ffffff;
    padding-top: 20vh;
}
.bgcr {
    height: 100vh;
}
.logo {
    height: auto;
    width: 30vh;
    animation-name: logo;
    animation-duration: 1.5s;
    margin-left: 0.5rem;
    
  }
  @keyframes logo {
    from {
      margin-top: 90vw;
    }
    to {
      margin-top: 0vw;
    }
  }

    
  .slogan {
    
    position: relative;
    animation-name:slogan;
    animation-duration: 1.5s;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
   
  }
  @keyframes slogan {
    from {
      margin-top: -950px;
    }
    to {
      margin-top: 0px;
    }
  }

  .slogan-2 {
    margin-top: 50px;
    position: relative;
    animation-name:slogan;
    animation-duration: 1.5s;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 0%;
   
  }
  @keyframes slogan {
    from {
      margin-top: -950px;
    }
    to {
      margin-top: 0px;
    }
  }
  .arrow {
    text-align: center;
    clear: both;
    width: 100%;
    color: #000000;
}
.next-btn{
    width: 67px;
    height: 67px;
    display: inline-block;
    background: #000000;
    border-radius: 32px;
    font-size: 32px;
    line-height: 63px;
    color: #ffffff;
}
@keyframes arrow {
  from {
    margin-top: -950px;
  }
  to {
    margin-top: 0px;
  }
}
.arrow-icon {
    color: #ffffff;
    margin-bottom: 10%;
}

 /* Mobile Responsive */
 @media screen and (max-width:960px)
 {
   .landing {
     margin-top: 20vh;
   }
   .logo {
    margin-top: -34%;
   }
   
   .slogan-2 {
    font-size: 4vh;

   }
   .arrow {

   }

 }