@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
/*Main title*/
.heading{
    margin-top: 3%;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: aqua;
}

/*Introduction*/
.intro{
    margin-top: 2%;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: antiquewhite;
    
}
.icon-wrap {
    padding: 0 0 0 18%;
    margin-top: 4%;
    background-color: yellow;
}
/*Personal details*/
.personal{
    position: relative;
    margin-left: 11%;
    background-color: tomato;
}

/*Reviews details*/
.reviews{
    position: relative;
    margin-left: 11%;
    background-color: teal;
}

/*Login and security details*/
.loginsecurity{
    position: relative;
    margin-left: 11%;
    background-color: tan;
  
}

.button-wrap {
    padding: 6%;
    background-color: springgreen;
}
.personaltxt{
    
    padding: 11px 24px;
    background-color: springgreen;
    float: left;
    display: block;
    width: 50%;
}


.loginandsecuritytxt{
    float: left;
    
    position: absolute;
    left: 43%;
    background-color: slateblue;
}



.reviewstxt{
   
    position: absolute;
    left: 61%;
    background-color: slateblue !important;
}
.top-icons {
    display: flex;
    float: right;
    top: 0;
    position: absolute;
    right: 23px;
    margin-top: 70px;
    background-color: slateblue;
}

@media screen and (max-width:960px) {
    .usertxt {
        display: none;
    }
    .personaltxt {
        position: absolute;
        top: 55%;
    }
    .loginsecurity {
        margin-bottom: 25%;
    }
    .loginandsecuritytxt {
        position: absolute;
    top: 82%;
    margin-left: -15%;
    }
    .reviewstxt {
        margin-left: -30%;
        margin-top: -17%;
    }
    .reviews {
        margin-bottom: 6%;
    }
    .personal {
        margin-bottom: 18%;
    }
    .button-wrap {

    }
}




