.About {
    text-align: center;
  
}
.heading-about{
    color: rgb(0, 0, 0);
    margin-top: 10%;
}

.para1{
    color: rgb(0, 0, 0);
    margin-left: 60vh;
    margin-right: 60vh;
    text-align: justify;
    line-height: 200%;
    font-size: 20px;
}
.subhead {
    text-align: center;
}