@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap');
.card-wrapper {
  width: 300px;
  height: 530px;
  display: inline-block;
  border-radius: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 8px 6px -6px black;
 margin-bottom: 10px;
 margin: 37px 45px;
 
}

.desination-row {
 
  margin-left: 10%;
}

.destination-topic {
  text-align: center;
  
  margin-top: -20%;
  color: #ffffff;
  font-weight: bolder;
}

.Link:hover {
  text-decoration: none;
 }

 .text-one {
   margin-top: -10%;
   background-color: springgreen;
 }