.card-wrapper {
  width: 300px;
  height: 530px;
  display: inline-block;
  border-radius: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: auto;
  background-color: coral !important;
 margin-bottom: 10px;
}
.row {
  padding: 9%;
}