@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Search Input Bar */
.home1 {
  margin-left: 30%;
    margin-top: 15%;
}
.dropdwon-icon {
  margin-top: 0% !important;
}   
.Search-Form {
  margin-left: -2%;
}
/* Search-Result Input Bar */

.input-search {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid lightgray;
  width: 13vw;
  padding: 10px 0px;
  margin: 0 auto;
  margin-top: 3%;
  max-width: 560px;
  float: left;
  border: none;
  border-bottom: 1px solid #000000;
  margin-left: 30px;
}
.input-search > input {
flex: 1;
padding: 0 5px;
border: none !important;
color: #000000;
font-size: 18px;

}
.input-search > input:focus {
  outline-width: 0;
}
/* DatePicker */ 
.DatePicker-Search{
  margin-top: 8px !important;
    position: absolute;
    clear: both;
    width: 30%;
    margin-left: 24% !important;
}

/* Search-Button */
.btn-1{
  border: none !important;
  outline: none !important;
  height: 40px !important;
  background: #f25e42 !important;
  font-size: 20px !important;
  border-radius: 6px;
  text-align: center;
  color: #ffffff;
  width: 7vw;
  margin-left: 17%;
  margin-top: 1.8rem;
  border: none;
}

  /* Mobile Responsive */
  @media screen and (max-width:960px)
{
  .input-search {
    display: inline-table;
    align-items: center;
    height: 30px;
    border: 1px solid lightgray;
    width: 80%;
    padding: 10px 0px;
    margin: 0 auto;
    margin-top: 3%;
    max-width: 560px;
    float: left;
    border: none;
    border-bottom: 1px solid #000000;
    margin-left: -33%;
  }
  .DatePicker-Search {
    width: 100%;
    display: contents;
    margin-left: -33% !important;
    margin-top: 12% !important;
  }
  .topic-2 {
    font-size: 4vh;
    margin-top: 21%;
    margin-left: -35%;
  }
  .Search-Form {
      margin-top: 10%;
      margin-left: 4%;
  }
  .btn-1 {
    width: 30vw;
    margin-left: 0%;
    margin-top: 18%;
  }

  .dropdwon-icon {
    display: none !important;
  }
 
}

/* Arrow Icons */
.arrow-right-home {
 
  fill: currentColor !important;
  width: 2em !important;
  height: 3em !important;
  display: inline-block !important;
  flex-shrink: 0 !important;
  -webkit-user-select: none !important;
  user-select: none !important;
  margin-top: -10%;
  color: #ffffff;
  margin-left: 14%;

}

.next-btn-home {
  
  width: 67px;
  height: 67px;
  display: inline-block;
  background: #f25e42;
  border-radius: 32px;
  font-size: 32px;
  line-height: 63px;
  color: #ffffff;
  margin-top: 10%;
  float: left;
  margin: 0 -16%;
  margin-top: 13%;

}