.dropdwon-icon {
    margin-top: 0% !important;
}   

/* Search-Result Input Bar */

.input-search-result {
    display: flex;
    align-items: center;
    height: 30px;
    border: 1px solid lightgray;
    width: 13vw;
    padding: 10px 0px;
    margin: 0 auto;
    margin-top: 3%;
    max-width: 560px;
    float: left;
    border: none;
    border-bottom: 1px solid #000000;
    margin-left: 30px;
}
.input-search-result > input {
  flex: 1;
  padding: 0 5px;
  border: none !important;
  color: #000000;
  font-size: 18px;
  
}
.input-search-result > input:focus {
    outline-width: 0;
}
/* DatePicker */ 
.DatePicker-Result{
    margin-top: 0px;
    position: absolute;
    clear: both;
    padding: 40px 32px;
    width: 30%;
    margin-left: 29%;
}

/* Search-Button */
.btn-search{
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #f25e42 !important;
    font-size: 20px !important;
    border-radius: 6px;
    text-align: center;
    color: #ffffff;
    width: 7vw;
    margin-left: 12%;
    margin-top: 2.8rem;
    letter-spacing: 2px;
    border: none;
}

/* Search-Result-Card */
.card-wrapper {
    float: left !important;
    background-color: #a7a7a7;
    width: 47%;
    margin-left: -28%;
    margin-top: 15vh;
    border: none;
    height: 6vh;
    cursor: pointer;
    
}

/* Text Inside the Card */
.text-inside {
    color: #000000;
    font-size: 2vh;
    padding: 12px;
}

/*  Search-Logo-Icon Inside card */
.Search-Logo {

}
 
/* Search Result Page Information */
.Result-card-wrapper {
    float: left !important;
    
    width: 40vw;
    margin-left: 8%;
    margin-top: 15vh;
    border: none;
    height: 60vh;
    cursor: pointer;
    border: 5px solid #000000;
}